policy_module(confident, 1.0.0)

attribute confident_exec_type;
attribute confident_internal_exec_type;
attribute_role confident_user_roles;
domain_type(confident_exec_t);
domain_type(confident_internal_exec_t);
neverallow domain confident_exec_t:process ptrace;
neverallow domain confident_internal_exec_t:process ptrace;
portcon tcp 11434 gen_context(system_u:object_r:confident_port_t, s0)
portcon tcp 8081 gen_context(system_u:object_r:router_com_port_t,s0)
role system_r types confident_exec_t;
role system_r types confident_internal_exec_t;
type confident_bin_t;
type confident_config_t;
type confident_etc_t;
type confident_exec_t;
type confident_internal_exec_t;
type confident_ollama_exec_t;
type confident_ollama_lib_t;
type confident_port_t;
type confident_root_t;
type confident_service_t;
type router_com_port_t;
type_transition confident_exec_t confident_internal_exec_t:process confident_internal_exec_t;
type_transition init_t confident_exec_t:process confident_exec_t;
type_transition initrc_t confident_exec_t:process confident_exec_t;
typeattribute confident_port_t reserved_port_type;
typeattribute router_com_port_t reserved_port_type;

allow chronyc_t chronyc_t:capability { dac_read_search };
allow chronyd_t chronyd_t:capability { dac_read_search };
allow chronyd_t kernel_t:unix_dgram_socket { sendto };
allow chronyd_t syslogd_runtime_t:dir { search };

allow confident_exec_t bin_t:dir { search };
allow confident_exec_t bin_t:file { execute execute_no_trans getattr map open read };
allow confident_exec_t cert_t:dir { search };
allow confident_exec_t cert_t:file { getattr open read };
allow confident_exec_t confident_bin_t:dir { search };
allow confident_exec_t confident_config_t:file { getattr open read };
allow confident_exec_t confident_etc_t:dir { search };
allow confident_exec_t confident_exec_t:capability { net_admin };
allow confident_exec_t confident_exec_t:fifo_file { getattr ioctl read write };
allow confident_exec_t confident_exec_t:file { entrypoint };
allow confident_exec_t confident_exec_t:tcp_socket { connect create getattr getopt read setopt write };
allow confident_exec_t confident_exec_t:udp_socket { create };
allow confident_exec_t confident_internal_exec_t:file { execute open read };
allow confident_exec_t confident_internal_exec_t:process { noatsecure transition rlimitinh siginh };
allow confident_exec_t confident_root_t:dir getattr;
allow confident_exec_t confident_root_t:dir { search };
allow confident_exec_t etc_t:file { getattr open read };
allow confident_exec_t etc_t:lnk_file { read };
allow confident_exec_t http_port_t:tcp_socket { name_connect };
allow confident_exec_t init_runtime_t:dir { search };
allow confident_exec_t init_runtime_t:sock_file { write };
allow confident_exec_t init_t:dir { search };
allow confident_exec_t init_t:fd { use };
allow confident_exec_t init_t:file { read };
allow confident_exec_t init_t:lnk_file { read };
allow confident_exec_t init_t:system { reload };
allow confident_exec_t init_t:unix_stream_socket { connectto getattr ioctl read write };
allow confident_exec_t locale_t:dir { getattr open read search };
allow confident_exec_t locale_t:file { getattr map open read };
allow confident_exec_t locale_t:lnk_file { read };
allow confident_exec_t net_conf_t:file { getattr open read };
allow confident_exec_t self:process { transition sigchld };
allow confident_exec_t shell_exec_t:file { execute map read };
allow confident_exec_t systemd_resolved_runtime_t:dir { search };
allow confident_exec_t systemd_resolved_runtime_t:file { getattr open read };
allow confident_exec_t systemd_unit_t:service { start status };
allow confident_exec_t user_home_dir_t:dir { search };
allow confident_exec_t var_run_t:dir { add_name create write };
allow confident_exec_t var_run_t:file { append create open write };
allow confident_exec_t var_run_t:file { getattr read };
allow confident_exec_t var_t:dir { add_name create read write };
allow confident_exec_t var_t:file { create getattr open write };

allow confident_internal_exec_t cert_t:dir { open read search };
allow confident_internal_exec_t cert_t:file { getattr open read };
allow confident_internal_exec_t cert_t:lnk_file { read };
allow confident_internal_exec_t confident_bin_t:dir { search };
allow confident_internal_exec_t confident_exec_t:fd { use };
allow confident_internal_exec_t confident_internal_exec_t:capability { dac_override };
allow confident_internal_exec_t confident_internal_exec_t:fifo_file { ioctl read write };
allow confident_internal_exec_t confident_internal_exec_t:file { execute_no_trans map };
allow confident_internal_exec_t confident_internal_exec_t:process { getsched sigkill signal signull };
allow confident_internal_exec_t confident_internal_exec_t:tcp_socket { accept bind connect create getattr getopt listen read setopt write };
allow confident_internal_exec_t confident_internal_exec_t:udp_socket { connect create getattr read setopt write };
allow confident_internal_exec_t confident_internal_exec_t:unix_stream_socket { connectto };
allow confident_internal_exec_t confident_port_t:tcp_socket { connect create read recvfrom sendto } ;
allow confident_internal_exec_t confident_port_t:tcp_socket { name_connect };
allow confident_internal_exec_t confident_root_t:dir { search };
allow confident_internal_exec_t configfs_t:dir { add_name create getattr remove_name rmdir search write };
allow confident_internal_exec_t configfs_t:file { create getattr open read write };
allow confident_internal_exec_t device_t:chr_file { getattr };
allow confident_internal_exec_t etc_t:file { getattr open read };
allow confident_internal_exec_t etc_t:lnk_file { read };
allow confident_internal_exec_t http_port_t:tcp_socket { name_connect };
allow confident_internal_exec_t init_runtime_t:dir { search };
allow confident_internal_exec_t init_t:dbus { send_msg };
allow confident_internal_exec_t init_t:fd { use };
allow confident_internal_exec_t init_t:unix_stream_socket { ioctl read write };
allow confident_internal_exec_t ld_so_t:file { read execute map };
allow confident_internal_exec_t locale_t:dir { search };
allow confident_internal_exec_t locale_t:file { open read };
allow confident_internal_exec_t net_conf_t:file { getattr open read };
allow confident_internal_exec_t node_t:tcp_socket { node_bind };
allow confident_internal_exec_t router_com_port_t:tcp_socket { name_bind };
allow confident_internal_exec_t self:file { read execute entrypoint };
allow confident_internal_exec_t self:process { transition sigchld };
allow confident_internal_exec_t soundd_port_t:tcp_socket { name_connect };
allow confident_internal_exec_t sysctl_net_t:dir { search };
allow confident_internal_exec_t sysctl_net_t:file { open read };
allow confident_internal_exec_t sysctl_t:dir { search };
allow confident_internal_exec_t sysfs_t:file { open read };
allow confident_internal_exec_t system_dbusd_runtime_t:dir { search };
allow confident_internal_exec_t system_dbusd_runtime_t:sock_file { write };
allow confident_internal_exec_t system_dbusd_t:dbus { send_msg };
allow confident_internal_exec_t system_dbusd_t:unix_stream_socket { connectto };
allow confident_internal_exec_t systemd_resolved_runtime_t:dir { search };
allow confident_internal_exec_t systemd_resolved_runtime_t:file { getattr open read };
allow confident_internal_exec_t systemd_unit_t:service { start };
allow confident_internal_exec_t systemd_unit_t:service { start };
allow confident_internal_exec_t systemd_unit_t:service { start };
allow confident_internal_exec_t tmp_t:dir { add_name remove_name search write };
allow confident_internal_exec_t tmp_t:sock_file { create unlink write };
allow confident_internal_exec_t tpm_device_t:chr_file { getattr open read write };
allow confident_internal_exec_t unreserved_port_t:tcp_socket { name_connect };
allow confident_internal_exec_t usr_t:file { getattr open read };
allow confident_internal_exec_t var_t:file { open read };

# Additional rules for compute_boot + GPU
allow confident_internal_exec_t cgroup_t:dir search;
allow confident_internal_exec_t security_t:dir search;
allow confident_internal_exec_t security_t:file { open read };
allow confident_internal_exec_t bin_t:dir search;
allow confident_internal_exec_t device_t:chr_file { create ioctl open read setattr write };
allow confident_internal_exec_t device_t:dir { add_name create remove_name setattr write };
allow confident_internal_exec_t device_t:lnk_file { create unlink };
allow confident_internal_exec_t dmesg_exec_t:file { execute execute_no_trans getattr map open read };
allow confident_internal_exec_t initrc_runtime_t:dir search;
allow confident_internal_exec_t initrc_runtime_t:sock_file { getattr write };
allow confident_internal_exec_t initrc_t:unix_stream_socket connectto;
allow confident_internal_exec_t kernel_t:system syslog_read;
allow confident_internal_exec_t kmsg_device_t:chr_file { open read };
allow confident_internal_exec_t locale_t:dir { getattr open read };
allow confident_internal_exec_t locale_t:file { getattr map };
allow confident_internal_exec_t locale_t:lnk_file read;
allow confident_internal_exec_t proc_t:file { getattr open read };
allow confident_internal_exec_t self:capability { mknod sys_admin sys_nice };
allow confident_internal_exec_t self:capability2 { perfmon syslog };
allow confident_internal_exec_t self:fifo_file getattr;
allow confident_internal_exec_t sysctl_vm_t:dir search;
allow confident_internal_exec_t sysctl_vm_t:file { getattr open read };
allow confident_internal_exec_t sysfs_t:dir read;
allow confident_internal_exec_t sysfs_t:file getattr;
allow sysadm_t router_com_port_t:tcp_socket name_connect;

allow confident_ollama_exec_t confident_port_t:tcp_socket { accept append bind connect create getattr getopt ioctl listen lock map name_bind read recvfrom relabelfrom relabelto sendto setattr setopt shutdown write node_bind};

allow crond_t kernel_t:unix_dgram_socket { sendto };
allow dhcpc_t kernel_t:unix_dgram_socket { sendto };
allow dhcpc_t syslogd_runtime_t:dir { search };
allow dpkg_t locale_t:file { map };
allow getty_t getty_t:capability2 { checkpoint_restore };

allow init_t chronyd_var_lib_t:dir { mounton };
allow init_t confident_bin_t:dir { search };
allow init_t confident_config_t:file { getattr open read };
allow init_t confident_etc_t:dir { search };
allow init_t confident_exec_t:file { read execute open };
allow init_t confident_exec_t:process { transition noatsecure rlimitinh siginh };
allow init_t confident_internal_exec_t:dbus { send_msg };
allow init_t confident_root_t:dir { search };
allow init_t console_device_t:chr_file { setattr };
allow init_t http_port_t:tcp_socket { name_connect };
allow init_t init_var_lib_t:file { setattr };
allow init_t lib_t:file { execute_no_trans };
allow init_t systemd_notify_t:fd { use };
allow init_t systemd_notify_t:fifo_file { write };
allow init_t systemd_resolved_runtime_t:dir { mounton };
allow init_t tmp_t:dir { relabelfrom relabelto };
allow init_t tmp_t:file { create open read unlink write };
allow init_t tty_device_t:chr_file { setattr };
allow init_t usr_t:file { open read };
allow init_t uuidd_runtime_t:sock_file { write };
allow init_t var_log_t:dir { add_name write };
allow init_t var_log_t:file { create };
allow init_t var_run_t:sock_file { setattr write };
allow init_t var_spool_t:dir { mounton };
allow init_t var_t:file { open read };
allow init_t verity_metadata_t:dir { mounton };
allow initrc_t apt_var_lib_t:dir { add_name write };
allow initrc_t apt_var_lib_t:file { create lock open read write };
allow initrc_t backup_store_t:dir { add_name remove_name write };
allow initrc_t backup_store_t:file { create open rename setattr write };
allow initrc_t confident_bin_t:dir { search };
allow initrc_t confident_config_t:file { getattr open read };
allow initrc_t confident_etc_t:dir { search };
allow initrc_t confident_exec_t:file { read execute open };
allow initrc_t confident_exec_t:process { transition };
allow initrc_t confident_port_t:tcp_socket { name_bind };
allow initrc_t confident_root_t:dir { getattr search };
allow initrc_t dpkg_t:process2 { nnp_transition };
allow initrc_t init_runtime_t:file { rename setattr };
allow initrc_t init_runtime_t:lnk_file { unlink };
allow initrc_t node_t:tcp_socket { node_bind };
allow initrc_t nsfs_t:file { getattr };
allow initrc_t security_t:file { map };
allow initrc_t security_t:security { compute_av };
allow initrc_t sysctl_irq_t:dir { add_name write };
allow initrc_t sysctl_irq_t:file { create };
allow initrc_t systemd_networkd_t:dbus { send_msg };
allow initrc_t tmpfs_t:file { execute map read write };
allow initrc_t usr_t:dir { add_name create remove_name rmdir write };
allow initrc_t usr_t:file { create rename unlink write };
allow initrc_t usr_t:file { execute };
allow initrc_t var_lib_t:dir { setattr };
allow initrc_t var_lib_t:file { map };
allow initrc_t var_lib_t:lnk_file { create read unlink };
allow initrc_t var_run_t:sock_file { write };
allow initrc_t var_t:dir { add_name remove_name setattr write };
allow initrc_t var_t:file { create write open ioctl lock read rename unlink };
allow kernel_t initrc_t:fd { use };
allow kernel_t verity_metadata_t:file { read };
allow mount_t tmp_t:file { open read write };
allow mount_t verity_metadata_t:file { getattr };
allow ntpd_t kernel_t:unix_dgram_socket { sendto };
allow ntpd_t syslogd_runtime_t:dir { search };
allow policykit_t kernel_t:unix_dgram_socket { sendto };
allow policykit_t syslogd_runtime_t:dir { search };
allow rpcd_t kernel_t:unix_dgram_socket { sendto };
allow rpcd_t syslogd_runtime_t:dir { search };
allow sysadm_t auditd_log_t:dir { getattr read search };
allow sysadm_t auditd_log_t:file { getattr read };
allow sysctl_irq_t proc_t:filesystem { associate };
allow syslogd_t init_t:unix_stream_socket { connectto };
allow syslogd_t kernel_t:unix_stream_socket { setopt shutdown };
allow systemd_detect_virt_t devlog_t:sock_file { write };
allow systemd_detect_virt_t kernel_t:unix_dgram_socket { sendto };
allow systemd_detect_virt_t syslogd_runtime_t:dir { search };
allow systemd_detect_virt_t systemd_detect_virt_t:capability { net_admin };
allow systemd_detect_virt_t systemd_detect_virt_t:unix_dgram_socket { connect create getopt setopt };
allow systemd_generator_t fixed_disk_device_t:blk_file { getattr read };
allow systemd_generator_t kmsg_device_t:chr_file { write };
allow systemd_generator_t lib_t:file { execute_no_trans };
allow systemd_generator_t udev_runtime_t:file { getattr open read };
allow systemd_generator_t var_run_t:file { append getattr open read write };
allow systemd_generator_t verity_metadata_t:dir { getattr search };
allow systemd_logind_t kernel_t:unix_dgram_socket { sendto };
allow systemd_logind_t syslogd_runtime_t:dir { search };
allow systemd_networkd_t kernel_t:unix_dgram_socket { sendto };
allow systemd_networkd_t syslogd_runtime_t:dir { search };
allow systemd_notify_t kernel_t:unix_dgram_socket { sendto };
allow systemd_notify_t systemd_notify_t:capability { net_admin };
allow systemd_notify_t systemd_notify_t:unix_dgram_socket { create getopt setopt write };
allow systemd_resolved_t cgroup_t:dir { search };
allow systemd_resolved_t cgroup_t:filesystem { getattr };
allow systemd_resolved_t fs_t:filesystem { getattr };
allow systemd_resolved_t kernel_t:unix_dgram_socket { sendto };
allow systemd_resolved_t syslogd_runtime_t:dir { search };
allow systemd_resolved_t systemd_resolved_runtime_t:sock_file { create };
allow systemd_sessions_t cgroup_t:dir { search };
allow systemd_sessions_t cgroup_t:filesystem { getattr };
allow systemd_sessions_t fs_t:filesystem { getattr };
allow systemd_sessions_t kernel_t:unix_dgram_socket { sendto };
allow systemd_sessions_t syslogd_runtime_t:dir { search };
allow systemd_tmpfiles_t cgroup_t:filesystem { getattr };
allow systemd_tmpfiles_t kernel_t:unix_dgram_socket { sendto };
allow systemd_tmpfiles_t syslogd_runtime_t:dir { search };
allow systemd_tmpfiles_t tmpfs_t:file { getattr ioctl open read };
allow systemd_user_runtime_dir_t cgroup_t:dir { search };
allow systemd_user_runtime_dir_t cgroup_t:filesystem { getattr };
allow systemd_user_runtime_dir_t fs_t:filesystem { getattr };
allow udev_t consolesetup_conf_t:dir { search };
allow udev_t consolesetup_conf_t:file { execute execute_no_trans open read };
allow udev_t consolesetup_runtime_t:dir { search };
allow udev_t consolesetup_runtime_t:file { getattr };
allow udev_t kernel_t:unix_dgram_socket { sendto };

# Additional rules for cryptsetup
allow initrc_t lvm_t:unix_dgram_socket sendto;
allow initrc_t tpm_device_t:chr_file { getattr open read write };
allow initrc_t tmpfs_t:dir { add_name create remove_name rmdir write };
allow initrc_t systemd_passwd_runtime_t:sock_file write;
allow initrc_t tmpfs_t:file { create open unlink };
allow lvm_t kernel_t:key write;
allow lvm_t self:key { read setattr };
allow lvm_t systemd_passwd_runtime_t:dir { add_name getattr read remove_name search watch write };
allow lvm_t systemd_passwd_runtime_t:file { create getattr open read rename setattr unlink write };
allow lvm_t systemd_passwd_runtime_t:sock_file { create unlink };
allow systemd_passwd_agent_t lvm_t:dir { getattr search };
allow systemd_passwd_agent_t lvm_t:file { getattr open read };

# Additional rules for nvidia
allow initrc_t device_t:chr_file map;
allow initrc_t initrc_runtime_t:sock_file create;
allow initrc_t kernel_t:key search;

# Allow loading nvidia firmware
allow kernel_t lib_t:system firmware_load;

# nvidia fabric manager
allow initrc_t device_t:chr_file { setattr unlink };
allow initrc_t ircd_port_t:tcp_socket name_bind;
allow initrc_t self:capability2 perfmon;

# allow logged in user to use nvidia-smi
allow sysadm_t device_t:chr_file { create read write open setattr unlink ioctl};
allow sysadm_t initrc_t:unix_stream_socket connectto;
allow sysadm_t self:capability2 perfmon;

# Additional rules for Azure health probes (to be removed)
allow systemd_run_t var_lib_t:file { execute execute_no_trans getattr map open read };
allow systemd_run_t var_lib_t:dir { getattr open search };
allow systemd_run_t var_log_t:dir { add_name create getattr };
allow systemd_run_t var_log_t:file { append open };
allow initrc_t var_lib_t:file { execute execute_no_trans getattr map open read };
allow initrc_t router_com_port_t:tcp_socket name_connect;

# Additional rules to support systemd initiated shutdowns on Azure
allow kernel_t self:process setrlimit;
allow kernel_t init_t:file read;
allow kernel_t init_t:lnk_file read;
allow kernel_t init_t:unix_stream_socket connectto;
allow kernel_t initctl_t:fifo_file { open write};

### VLLM

## Type defs
domain_type(vllm_exec_t);
type vllm_exec_t;
role system_r types vllm_exec_t;
type_transition init_t vllm_exec_t:process vllm_exec_t;

neverallow domain vllm_exec_t:process ptrace;

# TODO:
# we should use a separate type for files.

# TODO:
# systemd creates directories for hf-cache and vllm-cache, their context should be changed after creation.

allow init_t vllm_exec_t:file { execute };
allow init_t vllm_exec_t:process { transition noatsecure rlimitinh siginh };

allow vllm_exec_t self:file { entrypoint execute execute_no_trans map };
allow vllm_exec_t self:anon_inode { create map read write };
allow vllm_exec_t self:io_uring { allowed sqpoll };
allow vllm_exec_t shell_exec_t:file { execute execute_no_trans open map read };
allow vllm_exec_t dmesg_exec_t:file { execute execute_no_trans open map read };
allow vllm_exec_t bin_t:dir { getattr open read search };
allow vllm_exec_t bin_t:file { getattr execute execute_no_trans map open read };
allow vllm_exec_t bin_t:lnk_file { getattr read };

# vllm calls ldconfig
allow vllm_exec_t ldconfig_t:process { noatsecure rlimitinh siginh };
allow vllm_exec_t ldconfig_exec_t:file { execute execute_no_trans open read };

# vllm wants to load module net-pf-16-proto-20
allow vllm_exec_t kernel_t:system module_request;

allow vllm_exec_t kmod_t:process { noatsecure rlimitinh siginh };
allow vllm_exec_t self:netlink_rdma_socket { create bind getattr read setopt write };
allow vllm_exec_t self:unix_dgram_socket sendto;
allow vllm_exec_t cert_t:dir search;
allow vllm_exec_t cert_t:file { getattr open read };
allow vllm_exec_t device_t:chr_file { create getattr ioctl open read setattr write };
allow vllm_exec_t device_t:dir { add_name create remove_name setattr };
allow vllm_exec_t device_t:lnk_file { create unlink };
allow vllm_exec_t etc_t:file { getattr open read };
allow vllm_exec_t etc_t:lnk_file read;
allow vllm_exec_t home_root_t:dir { getattr search };
allow vllm_exec_t init_t:fd use;
allow vllm_exec_t init_t:unix_stream_socket { getattr ioctl read write };
allow vllm_exec_t locale_t:dir { getattr open read search };
allow vllm_exec_t locale_t:file { getattr ioctl map open read };
allow vllm_exec_t locale_t:lnk_file read;
allow vllm_exec_t proc_t:file { getattr ioctl open read };
allow vllm_exec_t self:capability { dac_read_search mknod };
allow vllm_exec_t self:capability2 { perfmon syslog };
allow vllm_exec_t self:fifo_file { getattr ioctl read write };
allow vllm_exec_t self:process { execmem getsched setsched signal };
allow vllm_exec_t sysctl_t:dir search;
allow vllm_exec_t sysctl_vm_t:dir search;
allow vllm_exec_t sysctl_vm_t:file { getattr open read };
allow vllm_exec_t sysfs_t:dir read;
allow vllm_exec_t sysfs_t:file { getattr open read };
allow vllm_exec_t urandom_device_t:chr_file { ioctl getattr open read };
allow vllm_exec_t user_home_dir_t:dir { getattr search };
allow vllm_exec_t usr_t:file { getattr ioctl open read };
allow vllm_exec_t usr_t:lnk_file read;
allow vllm_exec_t self:capability { sys_admin sys_nice net_admin };
allow vllm_exec_t net_conf_t:file { open read };
allow vllm_exec_t security_t:file { open read };
allow vllm_exec_t self:netlink_route_socket { bind create getattr nlmsg_read read write };
allow vllm_exec_t selinux_config_t:file { open read };
allow vllm_exec_t nsfs_t:file getattr;
allow vllm_exec_t systemd_resolved_runtime_t:file { open read };

# currently vllm home and hf cache have initrc_tmp_t context
allow vllm_exec_t initrc_tmp_t:dir { add_name create link remove_name search create open read write rename reparent setattr unlink };
allow vllm_exec_t initrc_tmp_t:file { append execute execute_no_trans ioctl link lock map setattr create getattr open read rename write };
allow vllm_exec_t initrc_tmp_t:lnk_file { create ioctl link lock read rename setattr write };

# access to initramfs content
allow vllm_exec_t default_t:dir { add_name create remove_name rmdir };
allow vllm_exec_t default_t:file { create execute ioctl map open read rename unlink write };

allow vllm_exec_t self:process { getattr getsession setsched sigchld sigkill signal signull sigstop };

# vllm is calling lscpu
allow vllm_exec_t proc_t:file { ioctl lock open read };
allow vllm_exec_t proc_t:dir { open read search };

allow vllm_exec_t file_type:dir { getattr ioctl lock open read search };
allow vllm_exec_t file_type:fifo_file getattr;
allow vllm_exec_t file_type:file getattr;
allow vllm_exec_t file_type:filesystem getattr;
allow vllm_exec_t file_type:lnk_file getattr;
allow vllm_exec_t file_type:sock_file getattr;
allow vllm_exec_t client_packet_type:packet { recv send };
allow vllm_exec_t device_node:blk_file getattr;
allow vllm_exec_t device_node:chr_file { getattr setattr };
allow vllm_exec_t device_t:blk_file getattr;
allow vllm_exec_t device_t:chr_file { append create getattr ioctl lock map open read setattr unlink write };
allow vllm_exec_t device_t:dir { add_name create remove_name setattr write };
allow vllm_exec_t device_t:lnk_file { create ioctl link lock rename setattr unlink write };
allow vllm_exec_t domain:dir { getattr ioctl lock open read search };
allow vllm_exec_t domain:file { getattr ioctl lock open read };
allow vllm_exec_t domain:lnk_file { getattr read };
allow vllm_exec_t ld_so_cache_t:file { append write };
allow vllm_exec_t ld_so_t:file execute_no_trans;
allow vllm_exec_t lib_t:file execute_no_trans;
allow vllm_exec_t privfd:fd use;
allow vllm_exec_t proc_mdstat_t:file { getattr ioctl lock open read };
allow vllm_exec_t proc_net_t:dir { getattr ioctl lock open read search };
allow vllm_exec_t proc_net_t:file { getattr ioctl lock open read };
allow vllm_exec_t proc_net_t:lnk_file { getattr read };
allow vllm_exec_t ramfs_t:sock_file { append open write };
allow vllm_exec_t random_device_t:chr_file { append ioctl lock open read write };
allow vllm_exec_t sysctl_irq_t:dir { add_name write };
allow vllm_exec_t sysctl_irq_t:file create;
allow vllm_exec_t sysctl_type:dir { getattr ioctl lock open read search };
allow vllm_exec_t sysctl_type:file { append getattr ioctl lock open read setattr write };
allow vllm_exec_t sysfs_t:file { append ioctl lock open read write };
allow vllm_exec_t sysfs_t:lnk_file read;
allow vllm_exec_t tty_device_t:chr_file { append ioctl lock open read relabelto write };
allow vllm_exec_t ttynode:chr_file { append ioctl lock open read relabelfrom write };

allow vllm_exec_t self:fifo_file open;
allow vllm_exec_t self:file { append write };
allow vllm_exec_t self:lnk_file { ioctl lock };
allow vllm_exec_t self:netlink_audit_socket { append bind connect create getattr getopt ioctl nlmsg_read nlmsg_relay read setattr setopt shutdown write };
allow vllm_exec_t self:netlink_route_socket { append bind connect create getattr getopt ioctl nlmsg_read read setattr setopt shutdown write };
allow vllm_exec_t self:passwd { passwd rootok };
allow vllm_exec_t self:process { execmem fork getcap getpgid getsched setpgid setrlimit };

allow vllm_exec_t tmpfile:dir { remove_name rmdir write };
allow vllm_exec_t tmpfile:fifo_file unlink;
allow vllm_exec_t tmpfile:file unlink;
allow vllm_exec_t tmpfile:lnk_file unlink;
allow vllm_exec_t tmpfile:sock_file unlink;
allow vllm_exec_t tmpfs_t:dir { rmdir write add_name create getattr remove_name search };
allow vllm_exec_t tmpfs_t:file { getattr create execute ioctl link map open read unlink write };
allow vllm_exec_t tmp_t:dir { add_name create getattr open read remove_name rmdir search write };
allow vllm_exec_t tmp_t:file { create getattr setattr ioctl open read rename unlink write execute lock map };
allow vllm_exec_t tmp_t:sock_file { create unlink write };

## networking
# allow binding to 0.0.0.0
allow vllm_exec_t node_t:tcp_socket node_bind;
allow vllm_exec_t node_t:udp_socket node_bind;

# VLLM listens on port 11435 for requests and pytorch distributed communication lib listens on a random port for some reason.
# We could create a separate domain for 11435 but we'd still have to setup the same permissions for unreserved_port_t,
allow vllm_exec_t unreserved_port_t:tcp_socket { name_bind name_connect };
allow vllm_exec_t self:tcp_socket { accept append bind connect create getattr getopt ioctl listen read setattr setopt shutdown write };
allow vllm_exec_t self:udp_socket { append bind connect create getattr getopt ioctl read setattr setopt shutdown write };
allow vllm_exec_t self:unix_dgram_socket { append bind connect create getattr getopt ioctl read setattr setopt shutdown write };
allow vllm_exec_t self:unix_stream_socket { accept append bind connect connectto create getattr getopt ioctl listen read setattr setopt shutdown write };
