policy_module(confident, 1.0.0)

# needed contexts for confident security
#
#
# Declaratiions
#
#

# First things first, no debugging 

attribute confident_internal_exec_type;
attribute confident_exec_type;

attribute_role confident_user_roles;

# Insert declarations for needed directories
type confident_root_t;
type confident_bin_t;
type confident_etc_t;


# Insert declarations for binary files (touching important data or not)
type confident_internal_exec_t;
domain_type(confident_internal_exec_t);
type confident_exec_t;
domain_type(confident_exec_t);
type confident_config_t;

neverallow domain confident_exec_t:process ptrace;
neverallow domain confident_internal_exec_t:process ptrace;
# Insert Declarations for service related files
# needs to accessible by systemctl (and symlinked for runtime servicei starting)
type confident_service_t;

# Temporary permissions for ollama (will have to change for openllm if they move to that)

# Ollama has it's binaries as well as supporting libs
type confident_ollama_lib_t;
type confident_ollama_exec_t;

# Add the permissions to the ollama port (for now)

type confident_port_t;
typeattribute confident_port_t reserved_port_type;
# Change this port type to the Openllm when implemented
portcon tcp 11434 system_u:object_r:confident_port_t:s1

# Allow internal binaries to execute themselves:
allow confident_internal_exec_t self:file { read execute entrypoint };

# Add confident_exec_t (wrapper permissions). 
# With future changes, these may need to be adjusted into the confident_internal_exec
allow confident_exec_t etc_t:lnk_file { read };
allow confident_exec_t http_port_t:tcp_socket { name_connect };
allow confident_exec_t confident_exec_t:fifo_file { getattr ioctl read write };
allow confident_exec_t etc_t:file { getattr open read };
allow confident_exec_t cert_t:dir { search };
allow confident_exec_t cert_t:file { getattr open read };
allow confident_exec_t net_conf_t:file { getattr open read };
allow confident_exec_t shell_exec_t:file { execute map read };
allow confident_exec_t bin_t:dir { search };
allow confident_exec_t user_home_dir_t:dir { search };
allow confident_exec_t confident_exec_t:file { entrypoint };
allow confident_exec_t var_run_t:dir { add_name create write };
allow init_t confident_exec_t:process { noatsecure rlimitinh siginh };
allow init_t confident_bin_t:dir { search };
allow confident_exec_t init_t:unix_stream_socket { getattr ioctl read write };
allow confident_exec_t bin_t:file { execute execute_no_trans getattr map open read };
allow confident_exec_t confident_exec_t:udp_socket { create };
allow confident_exec_t systemd_resolved_runtime_t:dir { search };
allow confident_exec_t confident_exec_t:tcp_socket { connect create getattr getopt read setopt write };
allow confident_exec_t systemd_resolved_runtime_t:file { getattr open read };
allow confident_exec_t init_t:fd { use };
allow confident_exec_t locale_t:dir { getattr open read search };
allow confident_exec_t confident_root_t:dir { search };
allow confident_exec_t confident_bin_t:dir { search };
allow confident_exec_t init_runtime_t:dir { search };
allow init_t confident_root_t:dir { search };
allow confident_exec_t locale_t:file { getattr map open read };
allow confident_exec_t locale_t:lnk_file { read };
allow confident_exec_t var_run_t:file { append create open write };

# Add additional changes for compute_boot/router_com/compute_worker
allow confident_exec_t confident_config_t:file { getattr };
allow confident_exec_t confident_internal_exec_t:file { execute open read };
allow confident_exec_t confident_internal_exec_t:process { rlimitinh siginh };
allow confident_exec_t var_t:file { create getattr open write };
allow confident_internal_exec_t cert_t:dir { open read search };
allow confident_internal_exec_t cert_t:file { getattr open read };
allow confident_internal_exec_t cert_t:lnk_file { read };
allow confident_internal_exec_t confident_bin_t:dir { search };
allow confident_internal_exec_t confident_exec_t:fd { use };
allow confident_internal_exec_t confident_internal_exec_t:capability { dac_override };
allow confident_internal_exec_t confident_internal_exec_t:fifo_file { ioctl read write };
allow confident_internal_exec_t confident_internal_exec_t:file { execute_no_trans map };
allow confident_internal_exec_t confident_internal_exec_t:process { getsched sigkill signal signull };
allow confident_internal_exec_t confident_internal_exec_t:tcp_socket { accept bind connect create getattr getopt listen read setopt write };
allow confident_internal_exec_t confident_internal_exec_t:udp_socket { connect create getattr read setopt write };
allow confident_internal_exec_t confident_internal_exec_t:unix_stream_socket { connectto };
allow confident_internal_exec_t confident_port_t:tcp_socket { name_connect };
allow confident_internal_exec_t confident_root_t:dir { search };
allow confident_internal_exec_t configfs_t:dir { add_name create getattr remove_name rmdir search write };
allow confident_internal_exec_t configfs_t:file { create getattr open read write };
allow confident_internal_exec_t device_t:chr_file { getattr };
allow confident_internal_exec_t etc_t:file { getattr open read };
allow confident_internal_exec_t etc_t:lnk_file { read };
allow confident_internal_exec_t http_port_t:tcp_socket { name_connect };
allow confident_internal_exec_t init_runtime_t:dir { search };
allow confident_internal_exec_t init_t:fd { use };
allow confident_internal_exec_t init_t:unix_stream_socket { ioctl read write };
allow confident_internal_exec_t locale_t:dir { search };
allow confident_internal_exec_t locale_t:file { open read };
allow confident_internal_exec_t net_conf_t:file { getattr open read };
allow confident_internal_exec_t node_t:tcp_socket { node_bind };
allow confident_internal_exec_t router_com_port_t:tcp_socket { name_bind };
allow confident_internal_exec_t soundd_port_t:tcp_socket { name_connect };
allow confident_internal_exec_t sysctl_net_t:dir { search };
allow confident_internal_exec_t sysctl_net_t:file { open read };
allow confident_internal_exec_t sysctl_t:dir { search };
allow confident_internal_exec_t sysfs_t:file { open read };
allow confident_internal_exec_t system_dbusd_runtime_t:dir { search };
allow confident_internal_exec_t system_dbusd_runtime_t:sock_file { write };
allow confident_internal_exec_t system_dbusd_t:unix_stream_socket { connectto };
allow confident_internal_exec_t systemd_resolved_runtime_t:dir { search };
allow confident_internal_exec_t systemd_resolved_runtime_t:file { getattr open read };
allow confident_internal_exec_t systemd_unit_t:service { start };
allow confident_internal_exec_t tmp_t:dir { add_name remove_name search write };
allow confident_internal_exec_t tmp_t:sock_file { create unlink write };
allow confident_internal_exec_t tpm_device_t:chr_file { getattr open read write };
allow confident_internal_exec_t unreserved_port_t:tcp_socket { name_connect };
allow confident_internal_exec_t usr_t:file { getattr open read };
allow confident_internal_exec_t var_t:file { open read };

# Additional MODEL perms go here:
# Ollama additions
allow initrc_t node_t:tcp_socket { node_bind };
allow initrc_t confident_port_t:tcp_socket { name_bind };
allow initrc_t usr_t:dir { add_name create remove_name rmdir write };
allow initrc_t usr_t:file { create rename unlink write };
allow confident_internal_exec_t systemd_unit_t:service { start };

# Allow internal binaries ability to load libs:
allow confident_internal_exec_t ld_so_t:file { read execute map };

# Allowing blanket permissions for now on the ollama port from server
allow confident_ollama_exec_t confident_port_t:tcp_socket { accept append bind connect create getattr getopt ioctl listen lock map name_bind read recvfrom relabelfrom relabelto sendto setattr setopt shutdown write node_bind};

# Allowing our node_worker to communicate through to ollama
allow confident_internal_exec_t confident_port_t:tcp_socket { connect create read recvfrom sendto } ;

# Allowing our router_comm to bind to the external facing requests.
type router_com_port_t;
typeattribute router_com_port_t reserved_port_type;
portcon tcp 8081 system_u:object_r:router_com_port_t:s0

## Type transitions table (from initrc/init to confident shell wrappers -> confident_internal)
type_transition initrc_t confident_exec_t:process confident_exec_t;
type_transition init_t confident_exec_t:process confident_exec_t;
type_transition confident_exec_t confident_internal_exec_t:process confident_internal_exec_t;
allow confident_exec_t self:process { transition sigchld };
allow confident_internal_exec_t self:process { transition sigchld };


allow initrc_t confident_exec_t:process { transition };
allow init_t confident_exec_t:process { transition };
allow confident_exec_t confident_internal_exec_t:process { transition };

# Associated exec rules
allow initrc_t confident_exec_t:file { read execute open };
allow init_t confident_exec_t:file { read execute open };

#TESTING, remove when finished. colin note
# This allows a shell to become confident binaries domain (to generate auditd logs)
ifdef(`enable_user_transition', `
  allow user_t confident_internal_exec_t:file entrypoint;
  allow user_t confident_exec_t:file entrypoint;
  type_transition user_t confident_internal_exec_t:process confident_internal_exec_t;
  type_transition user_t confident_exec_t:process confident_exec_t;
')

# turned off for the time being. 
ifdef(`enable_administrator_sshd', `
allow ssh_keygen_t locale_t:dir search;
allow ssh_keygen_t locale_t:file { getattr map open read };
allow ssh_keygen_t locale_t:lnk_file read;

allow sshd_t apt_exec_t:file getattr;
allow sshd_t apt_var_cache_t:dir { getattr search };
allow sshd_t apt_var_cache_t:file { getattr map open read };
allow sshd_t apt_var_lib_t:dir { getattr open read search };
allow sshd_t apt_var_lib_t:file { getattr open read };
allow sshd_t bin_t:file { execute execute_no_trans ioctl map open read };
allow sshd_t boot_t:dir search;
allow sshd_t dpkg_exec_t:file { execute execute_no_trans getattr map open read };
allow sshd_t dpkg_var_lib_t:dir search;
allow sshd_t dpkg_var_lib_t:file { getattr open read };
allow sshd_t fsadm_exec_t:file { execute execute_no_trans getattr map open read };
allow sshd_t kernel_t:system module_request;
allow sshd_t lib_t:file execute_no_trans;
allow sshd_t loop_control_device_t:chr_file getattr;
allow sshd_t mount_exec_t:file { execute execute_no_trans getattr map open read };
allow sshd_t mount_runtime_t:dir search;
allow sshd_t mount_runtime_t:file { getattr open read };
allow sshd_t self:capability dac_override;
allow sshd_t self:process signull;
allow sshd_t shell_exec_t:file execute_no_trans;

allow sshd_t user_home_dir_t:dir { add_name create write };
allow sshd_t user_home_dir_t:file { create getattr open write };
allow sshd_t usr_t:file { execute execute_no_trans };
allow sshd_t var_lib_t:dir { add_name write };
allow sshd_t var_lib_t:file { append create getattr ioctl open read setattr write };
allow sshd_t var_log_t:dir { add_name write };
allow sshd_t var_log_t:file { append create getattr ioctl open };
allow sshd_t var_t:file { getattr open read };
')
